<turbo-stream action="append" target="todo-list-container">
	<template>
		<div class="list" id="todo-list-{{todolist.id}}">
			<div class="d-flex mb-3">
				<a href="#" class="btn btn-primary me-3" data-action="click->todolist-controls#loadItems" data-todolist-controls-url="{{ path('app_todolists_detail', { 'id': todolist.id }) }}">
					<i class="fas fa-play"></i>
				</a>
				<span class="details me-3">{{ todolist.name }}</span>
				<a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteTodoListModal{{todolist.id}}">
					<i class="fas fa-times"></i>
				</a>
			</div>
		</div>

		<!-- Bootstrap Modal for Removing a New TodoList -->
		<div class="modal fade" id="deleteTodoListModal{{todolist.id}}" tabindex="-1" aria-labelledby="deleteTodoListModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteTodoListModalLabel">Delete the Todo List</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div
						class="modal-body">
						<!-- Use Turbo Frame for the form -->
						<turbo-frame id="delete_todolist_form_{{todolist.id}}">
							<form action="{{ path('app_todolists_delete', {'id': todolist.id}) }}" method="delete" data-controller="modal" data-action="turbo:submit-end->modal#close">
								<div class="mb-3">
									<label for="todoListName" class="form-label">Are you sure you want to delete this Todo List ?</label>
								</div>
								<button type="submit" class="btn btn-success">Yes</button>
								<button data-bs-dismiss="modal" aria-label="Close" class="btn btn-danger">No</button>
							</form>
						</turbo-frame>
					</div>
				</div>
			</div>
		</div>
	</template>
</turbo-stream>
