<div>
	<h2 class="mb-4">
		<div id="todo-list-name">
			{{ todolist.name ~ '(' ~ todolist.items|length ~ ')' }}
		</div>
		<i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#editTodoListModal"></i>
	</h2>
	{% for item in todolist.items %}
		<div class="list">
			<div class="d-flex mb-3">
				<input type="checkbox" class="me-3"/>
				<span class="details me-3 ">{{ item.title }}</span>
				<a href="#" class="me-3">
					<i class="fas fa-plus text-success"></i>
				</a>
				<a href="#">
					<i class="fas fa-times text-danger"></i>
				</a>
			</div>
			{% for subItem in item.subItems %}
				<div class="sublist">
					<div class="d-flex mb-3">
						<input type="checkbox" class="me-3"/>
						<span class="details me-3">{{ subItem }}</span>
						<a href="#">
							<i class="fas fa-times text-danger"></i>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endfor %}

	<!-- Bootstrap Modal for Editing a New TodoList -->
	<div class="modal fade" id="editTodoListModal" tabindex="-1" aria-labelledby="editTodoListModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="editTodoListModalLabel">Edit the Todo List name</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div
					class="modal-body">
					<!-- Use Turbo Frame for the form -->
					<turbo-frame id="edit_todolist_form">
						<form action="{{ path('app_todolists_update', { 'id': todolist.id }) }}" method="put" data-controller="modal" data-action="turbo:submit-end->modal#close">
							<div class="mb-3">
								<label for="todoListName" class="form-label">Todo List Name</label>
								<input type="text" class="form-control" id="todoListName" name="name" value="{{ todolist.name }}" required autofocus>
							</div>
							<button type="submit" class="btn btn-primary">Save</button>
						</form>
					</turbo-frame>
				</div>
			</div>
		</div>
	</div>

	<button type="button" class="btn btn-success">
		<i class="fas fa-plus"></i>
		Add a new item</button>
</div>
